body {
    background-color: black;
    
}

div {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

img {
    
    border-radius: 30px;
  
}

footer{
    display: flex;
    color: white;
    font: normal 20pt arial;
    justify-content: center;
}

#btn{
    display: inline-block;
    padding: 10px 20px; /* Ajuste o preenchimento conforme necessário */
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid white ; /* Cor da borda  */
    border-radius: 4px; /* Borda arredondada */
    color: white; /* Cor do texto */
    background-color: transparent;
}

#btn:hover {
   
        background-color: #4CAF50;
        color: white;
    
}